.about {
  padding: 40px 0 40px;
  background: white;
  z-index: 999999;
  .about-cont {
    max-width: 1280px;
    width: 95%;
    margin: auto;
    padding: 40px 0;

    .content-header {
      h2 {
        text-align: center;
        font-family: "DM Sans";
        // font-family: "Newsreader";
        font-style: normal;
        font-weight: 400;
        font-size: 3rem;
        line-height: 49px;
        text-align: center;
        line-height: 30px;
        margin-bottom: 10px;
      }

      .brand {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 900;
        font-size: 2.2rem;
        line-height: 30px;
        font-size: 38px;
        font-size: 3rem;
        margin-bottom: 12px;
        // color: rgb(255, 255, 255);
        span {
          font-weight: 100;
        }
      }
      p {
        width: 60%;
        margin: auto;
        padding: 10px 0;
        font-family: "Kumbh Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #62778f;
      }
    }
    .content-body {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px 0;
      // width: 75%;
      margin: auto;
      // .img-body {
      //   width: 40%;
      //   // width: 50%;
      //   border-radius: 14px;
      // }
      .items {
        // width: 60%;
        // display: flex;
        // justify-content: space-around;
        // align-items: center;
        padding: 20px 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        .item {
          padding: 20px 10px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          img {
            margin-right: 10px;
          }
          i {
            margin-right: 10px;
            height: 60px;
            width: 65px;
            display: flex;
            justify-content: center;
            align-items: center;
            // padding: 12px;
            font-size: 1.5rem;
            // background-color: rgb(225, 237, 251);#1E3D60
            background-color: #1e3d60;
            color: linear-gradient(180deg, #1e3d60, #054ea4);
            color: rgb(255, 255, 255);
            border-radius: 1000px;
          }
          .item-content {
            width: 80%;
            h4 {
            }
            p {
            }
          }
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .about {
    // background-color: #af0e0e;
    padding: 30px 0;

    .about-cont {
      // max-width: 1280px;
      width: 95%;
      margin: auto;
      padding: 40px 0;

      .content-header {
        h2 {
        }
        p {
          width: 80%;
        }
      }
      .content-body {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
        // width: 75%;
        margin: auto;

        .items {
          padding: 20px 0;
          display: flex;
          // flex-direction: column;
          flex-wrap: wrap;
          // width: 100%;
          justify-content: center;
          align-items: center;
          // grid-template-columns: 1fr 1fr;
          gap: 10px;
          .item {
            padding: 20px 10px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            // width: 100%;
            width: 300px;
            img {
            }
            i {
            }
            .item-content {
              width: 80%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 646px) {
  .about {
    // background-color: #af0e0e;
    padding: 30px 0;

    .about-cont {
      // max-width: 1280px;
      width: 95%;
      margin: auto;
      padding: 40px 0;

      .content-header {
        h2 {
        }
        p {
          font-size: 1rem;
          width: 90%;
        }
      }
      .content-body {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
        // width: 75%;
        margin: auto;

        .items {
          padding: 20px 0;
          display: flex;
          // flex-direction: column;
          flex-wrap: wrap;
          // width: 100%;
          justify-content: center;
          align-items: center;
          // grid-template-columns: 1fr 1fr;
          gap: 8px;
          .item {
            padding: 12px 4px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            // width: 100%;
            // width: fit-content;
            width: 200px;
            img {
            }
            i {
              margin-right: 10px;
              height: 35px;
              width: 35px;

              // padding: 12px;
              font-size: 0.9rem;
            }
            .item-content {
              width: 80%;
              h4 {
                font-size: 0.9rem;
              }
            }
          }
        }
      }
    }
  }
}
