.browse {
  padding: 10px 0;
  // background: white;
  position: relative;
  z-index: 99;
  top: -100px;

  .browse-cont {
    max-width: 1280px;
    margin: auto;
    padding: 0 10px;

    h2 {
      text-align: center;
      padding: 10px 0;
      // margin-bottom: 30px;
    }
    .cards {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .card-blue {
        background-color: #e1edfb;
      }
      .card-yellow {
        background-color: #fcdf69;
      }
      .card-pastel {
        background-color: #f99d77;
      }
      .card {
        width: 32%;
        border-radius: 14px;
        overflow: hidden;
        box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
        .light-blue {
          background-color: #e1edfb;
        }
        .pastel {
          background: #f99d77;
        }
        .yellow {
          background: #fcdf69;
        }
        .image {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 240px;
          img {
            width: 100px;
          }
        }
        .content {
          text-align: center;
          padding: 0px 10px 25px;
          // margin-bottom: 10px;s
          h4 {
            font-family: "Kumbh Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 36px;
            /* identical to box height, or 150% */

            /* Neutral/700 */

            color: #1e3d60;
          }
          p {
            font-family: "Kumbh Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            /* or 167% */

            /* Neutral/600 */

            color: #62778f;
          }
        }
      }
    }
  }
}
