.browse {
  padding: 10px 0 10px;
  // background: white;
  position: relative;
  z-index: 999999;
  top: -140px;
  margin-bottom: -60px;
  .bg-bottom {
    position: absolute;
    height: 200px;
    top: -10px;
    left: 0;
    transform: translateY(50%);
    width: 100%;
    z-index: -2;
    background: rgb(255, 255, 255);
  }
  .browse-cont {
    max-width: 1280px;
    margin: auto;
    padding: 0 10px;
    position: relative;
    h2 {
      text-align: center;
      padding: 10px 0;
      // margin-bottom: 30px;
    }

    .cards {
      // position: absolute;
      top: -100px;
      padding: 0 20px;
      // display: flex;
      // align-items: center;
      // justify-content: space-between;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;

      .card-blue {
        background-color: #e1edfb;
      }
      .card-yellow {
        background-color: #fcdf69;
      }
      .card-pastel {
        background-color: #f99d77;
      }
      .card {
        // width: 330px;
        border-radius: 14px;
        padding: 20px 0 0;
        overflow: hidden;
        box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
        .light-blue {
          background-color: #e1edfb;
        }
        .pastel {
          background: #f99d77;
        }
        .yellow {
          background: #fcdf69;
        }
        .image {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 40px 0;
          height: 90px;
          img {
            max-width: 100px;
            width: 40%;
          }
        }
        .content {
          text-align: center;
          padding: 0px 10px 25px;
          // margin-bottom: 10px;s
          h4 {
            font-family: "Kumbh Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 36px;
            /* identical to box height, or 150% */

            /* Neutral/700 */

            color: #1e3d60;
          }
          p {
            font-family: "Kumbh Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            /* or 167% */

            /* Neutral/600 */

            color: #62778f;
          }
        }
      }
    }
  }
}

@media (max-width: 730px) {
  .browse {
    padding: 10px 0;
    // background: white;
    position: relative;
    z-index: 99;
    // top: -100px;
    z-index: 999999;
    top: -140px;
    .bg-bottom {
      position: absolute;
      height: 200px;
      top: -10px;
      left: 0;
      transform: translateY(50%);
      width: 100%;
      z-index: -2;
      background: rgb(255, 255, 255);
    }
    .browse-cont {
      max-width: 1280px;
      margin: auto;
      padding: 0 10px;

      h2 {
        text-align: center;
        padding: 10px 0;
        // margin-bottom: 30px;
      }
      .cards {
        padding: 0 20px;
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;

        .card-blue {
          background-color: #e1edfb;
        }
        .card-yellow {
          background-color: #fcdf69;
        }
        .card-pastel {
          background-color: #f99d77;
        }
        .card {
          // width: 330px;
          border-radius: 14px;
          padding: 20px 0 0;
          overflow: hidden;
          box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
          .light-blue {
            background-color: #e1edfb;
          }
          .pastel {
            background: #f99d77;
          }
          .yellow {
            background: #fcdf69;
          }
          .image {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 40px 0;
            height: 90px;
            img {
              max-width: 100px;
              width: 40%;
            }
          }
          .content {
            text-align: center;
            padding: 0px 10px 25px;
            // margin-bottom: 10px;s
            h4 {
              font-family: "Kumbh Sans";
              font-style: normal;
              font-weight: 700;
              font-size: 1.2rem;
              line-height: 1.4;
              /* identical to box height, or 150% */

              /* Neutral/700 */

              color: #1e3d60;
            }
            p {
              font-family: "Kumbh Sans";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 30px;
              /* or 167% */

              /* Neutral/600 */

              color: #62778f;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 614px) {
  .browse {
    padding: 10px 0;
    // background: white;
    position: relative;
    z-index: 99;
    top: -100px;

    .browse-cont {
      max-width: 1280px;
      margin: auto;
      padding: 0 10px;

      h2 {
        text-align: center;
        padding: 10px 0;
        // margin-bottom: 30px;
      }
      .cards {
        padding: 0 20px;
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;

        .card-blue {
          background-color: #e1edfb;
        }
        .card-yellow {
          background-color: #fcdf69;
        }
        .card-pastel {
          background-color: #f99d77;
        }
        .card {
          // width: 330px;
          width: 60%;
          margin: auto;
          border-radius: 14px;
          padding: 0px 0 0;
          overflow: hidden;
          box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
          .light-blue {
            background-color: #e1edfb;
          }
          .pastel {
            background: #f99d77;
          }
          .yellow {
            background: #fcdf69;
          }
          .image {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 30px 0 25px;
            height: 30px;
            img {
              max-width: 100px;
              width: 18%;
            }
          }
          .content {
            text-align: center;
            padding: 0px 0px 10px;
            // margin-bottom: 10px;s
            h4 {
              font-family: "Kumbh Sans";
              font-style: normal;
              font-weight: 700;
              font-size: 1.1rem;
              line-height: 1.4;
              padding-bottom: 10px;
              /* identical to box height, or 150% */

              /* Neutral/700 */

              color: #1e3d60;
            }
            p {
              font-family: "Kumbh Sans";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 30px;
              /* or 167% */

              /* Neutral/600 */

              color: #62778f;
            }
          }
        }
      }
    }
  }
}
