.contact-us {
  padding: 60px 0;
  //   background: #ffffff;
  // overflow: hidden;
  //   z-index: -2;
  position: relative;

  .light-blue {
    position: absolute;
    height: 350px;
    width: 350px;
    background-color: #e1edfb;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    top: 0;
    left: 0;
  }
  .yellow {
    position: absolute;
    width: 410px;
    height: 410px;
    background: #fcdf69;
    border-radius: 50%;
    z-index: -1;
    top: 30%;
    right: 0;
    transform: translate(30%, -30%);
  }
  .pastel {
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: #f99d77;
    border-radius: 50%;
    transform: translate(-50%, 50%);
    z-index: 1;

    bottom: 0;
    left: 0;
  }
  .contact-us-cont {
    max-width: 1280px;
    width: 95%;
    margin: auto;
    padding: 30px 0;
    // z-index: 9;
    z-index: 10000;

    .header {
      margin: 40px 40px 0px;
      position: relative;
      z-index: 1000000;

      h1 {
        span {
          color: #f99d77;
        }
      }

      h2 {
        margin: 30px 0 0px;
        font-size: 2rem;
      }
      p {
      }
    }
    .contact-section {
      // margin: 20px 20px;
      margin-top: 20px;
      // z-index: 9;
      z-index: 10000;

      gap: 90px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .contact-form {
        z-index: 10000;

        background-color: #ffffff;
        width: 100%;
        padding: 40px 40px;
        border-radius: 20px;
        box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.2);
        form {
          width: 100%;
          display: flex;
          flex-direction: column;
          //   align-items: center;
          justify-content: center;
          gap: 25px;
          .items {
            display: grid;
            grid-template-columns: 1fr 1fr;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            width: 100%;
            gap: 20px 35px;
            label {
              display: flex;
              flex-direction: column;
              font-family: "Kumbh Sans";
              font-style: normal;
              font-weight: 700;
              font-size: 18px;
              line-height: 20px;
              color: #1e3d60;
              span {
                display: inline;
              }
              input {
                margin: 10px 0;
                background: #f9fafb;
                border-radius: 14px;
                padding: 10px 20px;
                box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
                font-weight: 400;
                font-size: 18px;
                line-height: 20px;
                color: #62778f;
                border: none;
                &::placeholder {
                  color: #62778f;
                  opacity: 0.5; /* Firefox */
                }
              }
              select {
                box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
                margin: 10px 0;
                background: #f9fafb;
                border-radius: 14px;
                padding: 10px 20px;
                option {
                  font-size: 1px;
                  background: #62778f;
                }
                font-weight: 400;
                font-size: 18px;
                line-height: 20px;
                color: #62778f;
                border: none;
                &::placeholder {
                  font-size: 18px;
                  color: #62778f;
                  opacity: 0.5; /* Firefox */
                }
              }
            }
          }
          .textarea {
            width: 100%;

            label {
              display: flex;
              flex-direction: column;
              font-family: "Kumbh Sans";
              font-style: normal;
              font-weight: 700;
              font-size: 18px;
              line-height: 20px;
              color: #1e3d60;
              textarea {
                box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
                border: none;
                margin: 10px 0 0;
                padding: 20px;
                height: 200px;
                background: #f9fafb;
                border-radius: 14px;
                font-family: "Kumbh Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 20px;
                color: #62778f;
                &::placeholder {
                  color: #62778f;
                  opacity: 0.5; /* Firefox */
                }
              }
            }
          }
          button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 14px 40px;
            width: 147px;
            // height: 66px; /* Primary/Color 1 */
            background: #064ea4;
            border-radius: 42px;
            // text
            font-family: "Kumbh Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 18px;
            text-align: center;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            color: #ffffff;
            border: none;
            margin-right: 0;
          }
        }
      }
      // .in-touch {
      //   display: flex;
      //   flex-direction: column;
      //   justify-content: space-around;
      //   align-items: center;
      //   gap: 30px;
      //   // background-color: #064ea4;
      //   .card {
      //     width: 300px;
      //     display: flex;
      //     justify-content: center;
      //     align-items: center;
      //     flex-direction: column;
      //     gap: 10px;
      //     padding: 20px 16px;
      //     background-color: white;
      //     box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.2);
      //     border-radius: 14px;
      //     h5 {
      //       font-family: "Kumbh Sans";
      //       font-style: normal;
      //       font-style: normal;
      //       font-weight: 700;
      //       font-size: 18px;
      //       line-height: 20px;
      //       /* or 111% */

      //       text-align: center;

      //       /* Neutral/700 */

      //       color: #1e3d60;
      //     }
      //     p {
      //       font-family: "Kumbh Sans";
      //       font-style: normal;
      //       font-weight: 400;
      //       font-size: 18px;
      //       line-height: 30px;
      //       /* or 167% */

      //       text-align: center;

      //       /* Neutral/500 */

      //       color: #8096b0;
      //     }
      //     img {
      //       width: 50px;
      //     }
      //     .image {
      //       display: flex;
      //       justify-content: center;
      //       align-items: center;
      //       background-color: #e1edfb;
      //       padding: 10px 10px;
      //       border-radius: 50%;
      //       img {
      //         width: 25px;
      //       }
      //     }
      //   }
      // }
    }
  }
}

@media (max-width: 760px) {
  .contact-us {
    padding: 60px 0;
    //   background: #ffffff;
    // overflow: hidden;
    //   z-index: -2;
    .pastel {
      position: absolute;
      // height: 200px;
      // width: 200px;
      background-color: #f99d77;
      border-radius: 50%;
      transform: translate(-50%, 50%);
      z-index: 1;

      bottom: 0;
      left: 0;
    }
    // .light-blue {
    //   position: absolute;
    //   height: 350px;
    //   width: 350px;
    //   background-color: #e1edfb;
    //   border-radius: 50%;
    //   transform: translate(-50%, -50%);
    //   z-index: -1;
    //   top: 0;
    //   left: 0;
    // }
    // .yellow {
    //   position: absolute;
    //   width: 410px;
    //   height: 410px;
    //   background: #fcdf69;
    //   border-radius: 50%;
    //   z-index: -1;
    //   top: 30%;
    //   right: 0;
    //   transform: translate(30%, -30%);
    // }
    // .pastel {
    //   position: absolute;
    //   height: 380px;
    //   width: 380px;
    //   background-color: #f99d77;
    //   border-radius: 50%;
    //   transform: translate(-50%, 50%);
    //   z-index: -1;
    //   bottom: 0;
    //   left: 0;
    // }
    .contact-us-cont {
      max-width: 1280px;
      width: 95%;
      margin: auto;
      padding: 30px 0;
      position: relative;

      .header {
        margin: 40px 40px 0px;
        h1 {
          font-size: 2.9rem;
        }
        h2 {
          margin: 30px 0 0px;
          font-size: 1.8rem;
        }
        p {
        }
      }
      .contact-section {
        // margin: 20px 20px;
        margin-top: 20px;
        z-index: 9;
        gap: 90px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .contact-form {
          background-color: #ffffff;
          width: 100%;
          padding: 40px 40px;
          border-radius: 20px;
          box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.2);
          form {
            width: 100%;
            display: flex;
            flex-direction: column;
            //   align-items: center;
            justify-content: center;
            gap: 25px;
            .items {
              display: grid;
              grid-template-columns: 1fr;
              // display: flex;
              // align-items: center;
              // justify-content: center;
              width: 100%;
              gap: 20px 35px;
              label {
                display: flex;
                flex-direction: column;
                font-family: "Kumbh Sans";
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 20px;
                color: #1e3d60;
                input {
                  margin: 10px 0;
                  background: #f9fafb;
                  border-radius: 14px;
                  padding: 10px 20px;
                  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
                  font-weight: 400;
                  font-size: 18px;
                  line-height: 20px;
                  color: #62778f;
                  border: none;
                  &::placeholder {
                    color: #62778f;
                    opacity: 0.5; /* Firefox */
                  }
                }
              }
            }

            button {
            }
          }
        }
      }
    }
  }
}
