.footer {
  background: #1e3d60;
  padding: 70px 0 5px;

  .footer-cont {
    max-width: 1280px;
    width: 95%;
    margin: auto;

    .top {
      display: flex;
      justify-content: space-between;
      .brand {
        width: 40%;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 32.4221px;
        line-height: 33px;
        color: #ffffff;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 900;
        font-size: 2.2rem;
        line-height: 30px;
        color: rgb(255, 255, 255);
        span {
          font-size: 2.16rem;

          font-weight: 100;
        }
      }
      p {
        width: 40%;
      }
    }
    hr {
      margin: 20px auto;
      width: 80%;
      border: 0;
      height: 1px;
      background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0)
      );
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      p {
        font-size: 1.2rem;
      }
      .socials {
        display: flex;
        justify-content: space-between;
        align-items: center;
        i {
          font-size: 1.4rem;
          padding: 9px;
          background: #62778f;
          border-radius: 100px;
          color: #f9fafb;
          margin-left: 14px;
          cursor: pointer;
        }
      }
      background-color: #ffffff;
    }
  }
}
.newCard {
  opacity: 0;
}
// .active {
//   animation: anim1 1.5s forwards ease-out;
//   // background-color: yellowgreen;
// }

.leftin {
  animation: animLeft 2s forwards cubic-bezier(0.19, 1, 0.22, 1);
}
.pastel-one {
  // transform: translateX(-100px);
}
@keyframes animLeft {
  from {
    transform: translate(100%, 100%);
    // opacity: 0;
  }
  to {
    transform: translate(50%, 50%);
    // opacity: 1;
  }
}
@keyframes anim1 {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes movingLeftIn {
  from {
    transform: translateX(-60px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes movingRightIn {
  from {
    transform: translateX(60px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes movingTopIn {
  from {
    transform: translateY(-60px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
