nav {
  // height: 84px;
  // height: 10vh;
  // min-height: 80px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23),
    0 2px 4px rgba(255, 255, 255, 0.908);
  position: fixed;
  padding: 30px 0;
  margin-bottom: 20px;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(30, 61, 96);
  z-index: 99;
  .nav-cont {
    max-width: 1280px;
    margin: auto;
    // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .brand {
      line-height: 30px;
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 900;
      font-size: 2.2rem;
      line-height: 30px;
      color: rgb(255, 255, 255);
      span {
        font-weight: 100;
      }
    }

    ul {
      list-style: none;
    }
    .nav-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        text-decoration: none;
        font-family: "Kumbh Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        // color: #1e3d60;
        color: rgb(255, 255, 255);
        margin-left: 40px;
        &:hover {
          color: #f99d77;
        }
      }
    }
  }
}
