.prices {
  padding: 80px 0 120px;
  background: #1e3d60;
  position: relative;
  .arrow-down {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 60px;
    z-index: 99999;
    transform: translateY(50%);
  }
  .prices-cont {
    max-width: 1280px;
    width: 95%;
    margin: auto;
    padding: 40px 0;
    .prices-inner {
      h2 {
        text-align: center;
        padding: 0 0 120px;
        font-size: 3rem;
        color: rgb(255, 255, 255);
      }
      .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        // justify-content: space-around;
        // align-items: center;
        gap: 60px;
        .card {
          padding: 10px 10px 20px;
          border-radius: 12px;
          text-align: center;
          box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.2);
          // background-color: rgb(255, 255, 255);

          h3 {
            // color: rgb(255, 255, 255);
            font-size: 2rem;
            margin-bottom: 30px;
            padding: 20px 0 10px;
            border-radius: 12px;

            // background-color: white;
            // background: rgb(245, 245, 245);
          }
          .sub-content {
            // background: rgba(245, 245, 245, 0.195);
            // box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.2);
            border-radius: 12px;

            padding: 65px 0 80px;
            // border-radius: 12px;
            p {
              display: inline-block;
              font-size: 1.2rem;
              color: rgb(255, 255, 255);
            }
            h4 {
              font-size: 4.4rem;
              font-weight: 700;
              padding: 20px 0;
              //   color: rgb(255, 255, 255);
              span {
                font-size: 1.4rem;
              }
            }
          }
        }
        .blue-col {
          background-color: #e1edfb;
        }
        .yellow-col {
          background-color: #fcdf69;
        }
        .pastel-col {
          background-color: #f99d77;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .prices {
    padding: 60px 0;
    background: #1e3d60;
    position: relative;
    .arrow-down {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 45px;
      transform: translateY(50%);
    }
    .prices-cont {
      max-width: 1280px;
      width: 95%;
      margin: auto;
      padding: 40px 0;
      .prices-inner {
        h2 {
          text-align: center;
          padding: 0 0 30px;
        }
        .cards {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          // justify-content: space-around;
          // align-items: center;
          gap: 40px;
          .card {
            padding: 25px 20px 40px;
            // border-radius: 12px;

            h3 {
              // color: rgb(255, 255, 255);
              font-size: 1.9rem;
              margin-bottom: 30px;
            }
            .sub-content {
              padding: 35px 0;
              p {
                font-size: 1.8rem;
              }
              h4 {
                font-size: 3rem;
                padding: 20px 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 876px) {
  .prices {
    padding: 60px 0;
    background: #1e3d60;
    position: relative;
    .arrow-down {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 45px;
      transform: translateY(50%);
    }
    .prices-cont {
      max-width: 1280px;
      width: 95%;
      margin: auto;
      padding: 40px 0;
      .prices-inner {
        h2 {
          text-align: center;
          padding: 0 0 30px;
        }
        .cards {
          display: flex;
          // grid-template-columns: 1fr 1fr 1fr;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center;
          gap: 25px;
          .card {
            padding: 25px 25px 35px;
            // border-radius: 12px;
            width: 240px;
            h3 {
              // color: rgb(255, 255, 255);
              font-size: 1.8rem;
              margin-bottom: 20px;
            }
            .sub-content {
              padding: 25px 0;
              p {
                font-size: 1.2rem;
              }
              h4 {
                font-size: 2rem;
                padding: 12px 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 543px) {
  .prices {
    padding: 60px 0;
    background: #1e3d60;
    position: relative;
    .arrow-down {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 45px;
      transform: translateY(50%);
    }
    .prices-cont {
      max-width: 1280px;
      width: 95%;
      margin: auto;
      padding: 40px 0;
      .prices-inner {
        h2 {
          text-align: center;
          padding: 0 0 25px;
        }
        .cards {
          display: flex;
          // grid-template-columns: 1fr 1fr 1fr;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center;
          gap: 20px;
          .card {
            padding: 8px 15px 30px;
            // border-radius: 12px;
            width: 180px;
            h3 {
              // color: rgb(255, 255, 255);
              font-size: 1.41rem;
              margin-bottom: 14px;
            }
            .sub-content {
              padding: 15px 0;
              p {
                font-size: 1.1rem;
              }
              h4 {
                font-size: 1.84rem;
                padding: 6px 0;
              }
            }
          }
        }
      }
    }
  }
}
