.review {
  background: #f9fafb;
  padding: 70px 0;
  // z-index: 1;
  position: relative;
  .light-blue {
    position: absolute;
    height: 350px;
    width: 350px;
    background-color: #e1edfb;
    border-radius: 50%;
    transform: translate(-50%, 50%);
    z-index: 1000;
    bottom: 0;
    left: 0;
  }
  .review-cont {
    max-width: 1280px;
    width: 95%;
    margin: auto;
    padding: 60px 0;

    h3 {
      font-family: "Newsreader";
      font-style: normal;
      font-weight: 600;
      font-size: 38px;
      line-height: 49px;
      text-align: center;
      color: #0f437f;
    }
    .review-cards {
      padding: 40px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;

      .card {
        z-index: 99999;

        display: inline-block;
        width: 520px;
        background-color: white;
        border-radius: 14px;
        padding: 30px 20px 30px 30px;
        margin: 10px 20px 10px 0;
        // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.2);
        // box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
        // box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);

        .stars {
          padding: 10px 5px;

          i {
            font-size: 1.4rem;
            color: gold;
          }
        }

        p {
          padding: 10px 0;
          font-family: "Kumbh Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 30px;
          color: #62778f;
        }
        .who {
          h5 {
            font-family: "Kumbh Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 20px;
            color: #1e3d60;
            padding: 10px 0;
          }
          p {
            font-family: "Kumbh Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 20px;
            color: #62778f;
            padding: 0px 0;
          }
        }
      }
    }
  }
}

@media (max-width: 1150px) {
  .review {
    padding: 70px 0;

    .review-cont {
      max-width: 1280px;
      width: 95%;
      margin: auto;
      padding: 20px 0;
      h3 {
        font-size: 38px;
      }
      .review-cards {
        padding: 30px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        .card {
          // display: inline-block;
          width: 348px;
          background-color: white;
          border-radius: 14px;
          padding: 20px 10px 20px 20px;
          margin: 10px 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .stars {
            padding: 10px 5px;

            i {
              font-size: 1.4rem;
              color: gold;
            }
          }

          p {
            padding: 10px 0;

            font-size: 16px;
          }
          .who {
            h5 {
              font-size: 18px;

              padding: 10px 0;
            }
            p {
              font-size: 18px;

              padding: 0px 0;
            }
          }
        }
      }
    }
  }
}
