@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=Newsreader:ital,opsz,wght@0,6..72,200;0,6..72,300;0,6..72,400;0,6..72,500;0,6..72,600;0,6..72,700;0,6..72,800;1,6..72,200;1,6..72,300;1,6..72,400;1,6..72,500;1,6..72,600;1,6..72,700;1,6..72,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

h1 {
  font-family: "Newsreader";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 78px;
  color: #0f437f;
}

h2 {
  font-family: "Newsreader";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 49px;
  color: #0f437f;
}

h3 {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #0f437f;
}

h4 {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #0f437f;
}

h5 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #0f437f;
}

h6 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0f437f;
}

p.large {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  color: #62778f;
}

p {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #62778f;
}

p.small {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #62778f;
}

nav {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23), 0 2px 4px rgba(255, 255, 255, 0.908);
  position: fixed;
  padding: 30px 0;
  margin-bottom: 20px;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(30, 61, 96);
  z-index: 9999999;
}
nav .nav-cont {
  max-width: 1280px;
  margin: auto;
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-cont .brand {
  line-height: 30px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 900;
  font-size: 2.2rem;
  line-height: 30px;
  color: rgb(255, 255, 255);
}
nav .nav-cont .brand span {
  font-weight: 100;
}
nav .nav-cont ul {
  list-style: none;
}
nav .nav-cont .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-cont .nav-links a {
  text-decoration: none;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  margin-left: 40px;
}
nav .nav-cont .nav-links a:hover {
  color: #f99d77;
}

.landing {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 140px 0 30px;
  background: #f9fafb;
  z-index: 1;
}
.landing .arrow {
  position: absolute;
  transform: translate(-50%, 50%);
  z-index: 3;
  bottom: 0;
  left: 50%;
}
.landing .yellow {
  position: absolute;
  height: 440px;
  width: 440px;
  background-color: #fcdf69;
  border-radius: 50%;
  transform: translate(50%, -50%);
  z-index: -3;
  top: 0;
  right: 0;
}
.landing .pastel {
  position: absolute;
  height: 440px;
  width: 440px;
  background-color: #f99d77;
  border-radius: 50%;
  transform: translate(-50%, 50%);
  z-index: -3;
  bottom: 0;
  left: 0;
}
.landing .blue {
  position: absolute;
  height: 440px;
  width: 440px;
  background-color: #e1edfb;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -3;
  top: 0;
  left: 0%;
}
.landing .landing-cont {
  max-width: 1280px;
  margin: auto;
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}
.landing .landing-cont .landing-left {
  width: 50%;
}
.landing .landing-cont .landing-left .content {
  padding: 10px;
}
.landing .landing-cont .landing-left .content p {
  margin: 24px 0;
}
.landing .landing-cont .landing-left .content .btn {
  display: flex;
  align-items: center;
}
.landing .landing-cont .landing-left .content .btn .btn-land {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 40px;
  width: 249px;
  height: 66px;
  border-radius: 42px;
  transition: all 0.3s ease-in-out;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
.landing .landing-cont .landing-left .content .btn .btn-prim {
  background: #064ea4;
  color: white;
  margin-right: 20px;
}
.landing .landing-cont .landing-left .content .btn .btn-prim:hover {
  background: #1e3d60;
  transform: scale(0.98);
}
.landing .landing-cont .landing-left .content .btn .btn-sec {
  width: 196px;
  background: #e7eaee;
  color: #1e3d60;
}
.landing .landing-cont .landing-left .content .btn .btn-sec:hover {
  background: #8096b0;
  transform: scale(0.98);
}
.landing .landing-cont .landing-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing .landing-cont .landing-right img {
  width: 70%;
  border-radius: 14px;
  height: 550px;
}

.mission {
  background: #f9fafb;
  position: relative;
  z-index: -2;
  padding: 55px 0;
}
.mission .yellow {
  position: absolute;
  height: 360px;
  width: 360px;
  background-color: #fcdf69;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  top: 50%;
  left: 50%;
}
.mission .mission-cont {
  max-width: 1280px;
  width: 95%;
  margin: auto;
  padding: 60px 0;
}
.mission .mission-cont .cards {
  z-index: 192;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.mission .mission-cont .cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mission .mission-cont .cards .card .content {
  width: 90%;
}
.mission .mission-cont .cards .card .content h3 {
  margin-bottom: 10px;
}
.mission .mission-cont .cards .card img {
  width: 400px;
  border-radius: 12px;
}

.courses {
  height: 100vh;
  background-color: #f9fafb;
}

.why-us {
  background: #1e3d60;
  padding: 70px 0;
  position: relative;
}
.why-us .arrow-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 60px;
  transform: translateY(50%);
}
.why-us .why-us-cont {
  max-width: 1280px;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.why-us .why-us-cont .content {
  padding: 50px 0;
}
.why-us .why-us-cont .content h2 {
  font-family: "Newsreader";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 49px;
  text-align: center;
  color: white;
  padding: 30px;
}
.why-us .why-us-cont .content .cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.why-us .why-us-cont .content .cards .card {
  width: 28%;
  text-align: center;
}
.why-us .why-us-cont .content .cards .card img {
  width: 60%;
}
.why-us .why-us-cont .content .cards .card h4 {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: white;
  margin: 20px 0;
}
.why-us .why-us-cont .content .cards .card p {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #e7eaee;
}

.our-work {
  background: #1e3d60;
  padding: 70px 0;
}
.our-work .our-work-cont {
  max-width: 1280px;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-work .our-work-cont .content {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.our-work .our-work-cont .content h2 {
  font-family: "Newsreader";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 49px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 30px;
}
.our-work .our-work-cont .content .p-head {
  text-align: center;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  padding: 0 0 20px 0;
  text-align: center;
  width: 80%;
  /* Neutral/300 */
  color: #e7eaee;
}
.our-work .our-work-cont .content .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin: 20px 0;
}
.our-work .our-work-cont .content .cards .card {
  background: #f9fafb;
  max-width: 380px;
  padding: 20px;
  border-radius: 14px;
}
.our-work .our-work-cont .content .cards .card h4 {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: rgb(0, 0, 0);
  color: #1e3d60;
  margin: 20px 0;
}
.our-work .our-work-cont .content .cards .card p {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #62778f;
}

.about {
  padding: 70px 0;
}
.about .about-cont {
  max-width: 1280px;
  width: 95%;
  margin: auto;
  padding: 40px 0;
}
.about .about-cont .content-header h2 {
  font-family: "Newsreader";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 49px;
  text-align: center;
}
.about .about-cont .content-header p {
  width: 60%;
  margin: auto;
  padding: 10px 0;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #62778f;
}
.about .about-cont .content-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  margin: auto;
}
.about .about-cont .content-body .items {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.about .about-cont .content-body .items .item {
  padding: 20px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.about .about-cont .content-body .items .item img {
  margin-right: 10px;
}
.about .about-cont .content-body .items .item i {
  margin-right: 10px;
  height: 60px;
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: #1e3d60;
  color: linear-gradient(180deg, #1e3d60, #054ea4);
  color: rgb(255, 255, 255);
  border-radius: 1000px;
}
.about .about-cont .content-body .items .item .item-content {
  width: 80%;
}
.prices {
  padding: 70px 0;
  background: #1e3d60;
  position: relative;
}
.prices .arrow-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 60px;
  transform: translateY(50%);
}
.prices .prices-cont {
  max-width: 1280px;
  width: 95%;
  margin: auto;
  padding: 40px 0;
}
.prices .prices-cont .prices-inner h2 {
  text-align: center;
  padding: 0 0 30px;
  color: rgb(255, 255, 255);
}
.prices .prices-cont .prices-inner .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
}
.prices .prices-cont .prices-inner .cards .card {
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 5px 15px hsla(0deg, 0%, 0%, 0.2);
  background-color: rgb(255, 255, 255);
}
.prices .prices-cont .prices-inner .cards .card h3 {
  font-size: 2rem;
  margin-bottom: 30px;
}
.prices .prices-cont .prices-inner .cards .card .sub-content {
  background: whitesmoke;
  box-shadow: 0 5px 15px hsla(0deg, 0%, 0%, 0.2);
  padding: 20px 0;
  border-radius: 12px;
}
.prices .prices-cont .prices-inner .cards .card .sub-content p {
  font-size: 1.2rem;
}
.prices .prices-cont .prices-inner .cards .card .sub-content h4 {
  font-size: 2rem;
  padding: 20px 0;
}

.grow {
  padding: 70px 0;
  background: #064ea4;
  overflow: hidden;
  z-index: -2;
}
.grow .grow-cont {
  max-width: 1280px;
  width: 95%;
  margin: auto;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.grow .grow-cont .yellow {
  position: absolute;
  height: 350px;
  width: 350px;
  background-color: #fcdf69;
  border-radius: 50%;
  transform: translate(-80%, -80%);
  top: 0;
  left: 0;
}
.grow .grow-cont .light-blue {
  position: absolute;
  width: 330px;
  height: 330px;
  background: #e1edfb;
  border-radius: 50%;
  bottom: 0;
  right: 50%;
  transform: translate(20%, 100%);
}
.grow .grow-cont .left-content {
  width: 50%;
}
.grow .grow-cont .left-content .inside {
  width: 75%;
  margin: auto;
}
.grow .grow-cont .left-content .inside h2 {
  font-family: "Newsreader";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 49px;
  color: #ffffff;
}
.grow .grow-cont .left-content .inside p {
  color: #e7eaee;
  padding: 20px 0;
}
.grow .grow-cont .left-content .inside .btn-grow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 40px;
  background: #ffffff;
  border-radius: 42px;
  color: #0f437f;
  font-weight: 700;
  cursor: pointer;
  width: 169px;
  height: 18px;
}
.grow .grow-cont .left-content .inside .btn-grow:hover {
  background: #8096b0;
  transform: scale(0.98);
}
.grow .grow-cont .right-content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 9;
}
.grow .grow-cont .right-content .pastel {
  position: absolute;
  width: 330px;
  height: 330px;
  background: #f99d77;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: -1;
}
.grow .grow-cont .right-content .card {
  background-color: white;
  padding: 10px;
  border-radius: 14px;
  width: 200px;
  margin: 10px;
  text-align: center;
  z-index: 1;
}
.grow .grow-cont .right-content .card p {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #62778f;
}

.review {
  background: #f9fafb;
  padding: 70px 0;
}
.review .review-cont {
  max-width: 1280px;
  width: 95%;
  margin: auto;
  padding: 60px 0;
}
.review .review-cont h3 {
  font-family: "Newsreader";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 49px;
  text-align: center;
  color: #0f437f;
}
.review .review-cont .review-cards {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.review .review-cont .review-cards .card {
  display: inline-block;
  width: 550px;
  background-color: white;
  border-radius: 14px;
  padding: 30px 20px 30px 30px;
  margin: 10px 20px 10px 0;
  box-shadow: 0 5px 15px hsla(0deg, 0%, 0%, 0.2);
}
.review .review-cont .review-cards .card .stars {
  padding: 10px 5px;
}
.review .review-cont .review-cards .card .stars i {
  font-size: 1.4rem;
  color: gold;
}
.review .review-cont .review-cards .card p {
  padding: 10px 0;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #62778f;
}
.review .review-cont .review-cards .card .who h5 {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #1e3d60;
  padding: 10px 0;
}
.review .review-cont .review-cards .card .who p {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #62778f;
  padding: 0px 0;
}

.browse {
  padding: 10px 0;
  position: relative;
  z-index: 99;
  top: -140px;
}
.browse .browse-cont {
  max-width: 1280px;
  margin: auto;
  padding: 0 10px;
}
.browse .browse-cont h2 {
  text-align: center;
  padding: 10px 0;
}
.browse .browse-cont .cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.browse .browse-cont .cards .card-blue {
  background-color: #e1edfb;
}
.browse .browse-cont .cards .card-yellow {
  background-color: #fcdf69;
}
.browse .browse-cont .cards .card-pastel {
  background-color: #f99d77;
}
.browse .browse-cont .cards .card {
  width: 32%;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 1px 3px hsla(0deg, 0%, 0%, 0.2);
}
.browse .browse-cont .cards .card .light-blue {
  background-color: #e1edfb;
}
.browse .browse-cont .cards .card .pastel {
  background: #f99d77;
}
.browse .browse-cont .cards .card .yellow {
  background: #fcdf69;
}
.browse .browse-cont .cards .card .image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 240px;
}
.browse .browse-cont .cards .card .image img {
  width: 100px;
}
.browse .browse-cont .cards .card .content {
  text-align: center;
  padding: 0px 10px 25px;
}
.browse .browse-cont .cards .card .content h4 {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 36px;
  /* identical to box height, or 150% */
  /* Neutral/700 */
  color: #1e3d60;
}
.browse .browse-cont .cards .card .content p {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  /* Neutral/600 */
  color: #62778f;
}

.contact-us {
  padding: 60px 0;
  overflow: hidden;
}
.contact-us .contact-us-cont {
  max-width: 1280px;
  width: 95%;
  margin: auto;
  padding: 30px 0;
  position: relative;
}
.contact-us .contact-us-cont .light-blue {
  position: absolute;
  height: 350px;
  width: 350px;
  background-color: #e1edfb;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  top: 0;
  left: 0;
}
.contact-us .contact-us-cont .yellow {
  position: absolute;
  width: 410px;
  height: 410px;
  background: #fcdf69;
  border-radius: 50%;
  z-index: -1;
  top: 30%;
  right: 0;
  transform: translate(30%, -30%);
}
.contact-us .contact-us-cont .pastel {
  position: absolute;
  height: 380px;
  width: 380px;
  background-color: #f99d77;
  border-radius: 50%;
  transform: translate(-50%, 50%);
  z-index: -1;
  bottom: 0;
  left: 0;
}
.contact-us .contact-us-cont .header {
  margin: 40px;
}
.contact-us .contact-us-cont .contact-section {
  margin: 40px;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-us .contact-us-cont .contact-section .contact-form {
  background-color: #ffffff;
  width: 700px;
  padding: 40px 40px;
  border-radius: 20px;
  box-shadow: 0 5px 15px hsla(0deg, 0%, 0%, 0.2);
}
.contact-us .contact-us-cont .contact-section .contact-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}
.contact-us .contact-us-cont .contact-section .contact-form form .items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 15px;
}
.contact-us .contact-us-cont .contact-section .contact-form form .items label {
  display: flex;
  flex-direction: column;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #1e3d60;
}
.contact-us .contact-us-cont .contact-section .contact-form form .items label input {
  margin: 10px 0;
  background: #f9fafb;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #62778f;
  border: none;
}
.contact-us .contact-us-cont .contact-section .contact-form form .items label input::-moz-placeholder {
  color: #62778f;
  opacity: 0.5; /* Firefox */
}
.contact-us .contact-us-cont .contact-section .contact-form form .items label input:-ms-input-placeholder {
  color: #62778f;
  opacity: 0.5; /* Firefox */
}
.contact-us .contact-us-cont .contact-section .contact-form form .items label input::placeholder {
  color: #62778f;
  opacity: 0.5; /* Firefox */
}
.contact-us .contact-us-cont .contact-section .contact-form form .textarea {
  width: 100%;
}
.contact-us .contact-us-cont .contact-section .contact-form form .textarea label {
  display: flex;
  flex-direction: column;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #1e3d60;
}
.contact-us .contact-us-cont .contact-section .contact-form form .textarea label textarea {
  border: none;
  margin: 10px 0 0;
  padding: 20px;
  height: 200px;
  background: #f9fafb;
  border-radius: 20px;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #62778f;
}
.contact-us .contact-us-cont .contact-section .contact-form form .textarea label textarea::-moz-placeholder {
  color: #62778f;
  opacity: 0.5; /* Firefox */
}
.contact-us .contact-us-cont .contact-section .contact-form form .textarea label textarea:-ms-input-placeholder {
  color: #62778f;
  opacity: 0.5; /* Firefox */
}
.contact-us .contact-us-cont .contact-section .contact-form form .textarea label textarea::placeholder {
  color: #62778f;
  opacity: 0.5; /* Firefox */
}
.contact-us .contact-us-cont .contact-section .contact-form form button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 40px;
  width: 147px;
  background: #064ea4;
  border-radius: 42px;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  margin-right: 0;
}
.contact-us .contact-us-cont .contact-section .in-touch {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.contact-us .contact-us-cont .contact-section .in-touch .card {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px 16px;
  background-color: white;
  box-shadow: 0 5px 15px hsla(0deg, 0%, 0%, 0.2);
  border-radius: 20px;
}
.contact-us .contact-us-cont .contact-section .in-touch .card h5 {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  /* or 111% */
  text-align: center;
  /* Neutral/700 */
  color: #1e3d60;
}
.contact-us .contact-us-cont .contact-section .in-touch .card p {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  text-align: center;
  /* Neutral/500 */
  color: #8096b0;
}
.contact-us .contact-us-cont .contact-section .in-touch .card img {
  width: 50px;
}
.contact-us .contact-us-cont .contact-section .in-touch .card .image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1edfb;
  padding: 10px 10px;
  border-radius: 50%;
}
.contact-us .contact-us-cont .contact-section .in-touch .card .image img {
  width: 25px;
}

.faqs {
  background: #f9fafb;
  padding: 70px 0;
}
.faqs .faqs-cont {
  max-width: 1280px;
  width: 95%;
  margin: auto;
}
.faqs .faqs-cont .content {
  text-align: center;
}
.faqs .faqs-cont .content h2 {
  font-family: "Newsreader";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 49px;
  color: #0f437f;
  padding: 20px;
}
.faqs .faqs-cont .content p {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  padding: 10px;
  text-align: center;
  width: 60%;
  /* Neutral/600 */
  margin: auto;
  color: #62778f;
}
.faqs .faqs-cont .content .faq-cards {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}
.faqs .faqs-cont .content .faq-cards .faq-card {
  background-color: rgb(255, 255, 255);
  width: 660px;
  border-radius: 14px;
  display: flex;
  cursor: pointer;
  padding: 20px;
}
.faqs .faqs-cont .content .faq-cards .faq-card .faq-content p {
  width: 100%;
  display: none;
  height: 0;
  transition: height 2s ease-in-out;
  text-align: left;
}
.faqs .faqs-cont .content .faq-cards .faq-card .icon i {
  font-size: 1.6rem;
  padding: 0 15px 10px 15px;
  cursor: pointer;
}
.faqs .faqs-cont .content .faq-cards .faq-card .icon .fa-circle-plus {
  color: #064ea4;
  display: block;
}
.faqs .faqs-cont .content .faq-cards .faq-card .icon .fa-circle-minus {
  color: #e7eaee;
  display: none;
}
.faqs .faqs-cont .content .faq-cards .faq-card.active .faq-content p {
  display: block;
  height: 100%;
}
.faqs .faqs-cont .content .faq-cards .faq-card.active .icon .fa-circle-plus {
  display: none;
}
.faqs .faqs-cont .content .faq-cards .faq-card.active .icon .fa-circle-minus {
  display: block;
}

.footer {
  background: #1e3d60;
  padding: 70px 0 5px;
}
.footer .footer-cont {
  max-width: 1280px;
  width: 95%;
  margin: auto;
}
.footer .footer-cont .top {
  display: flex;
  justify-content: space-between;
}
.footer .footer-cont .top .brand {
  width: 40%;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 32.4221px;
  line-height: 33px;
  color: #ffffff;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 900;
  font-size: 2.2rem;
  line-height: 30px;
  color: rgb(255, 255, 255);
}
.footer .footer-cont .top .brand span {
  font-size: 2.16rem;
  font-weight: 100;
}
.footer .footer-cont .top p {
  width: 40%;
}
.footer .footer-cont hr {
  margin: 20px auto;
  width: 80%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
.footer .footer-cont .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background-color: #ffffff;
}
.footer .footer-cont .bottom p {
  font-size: 1.2rem;
}
.footer .footer-cont .bottom .socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-cont .bottom .socials i {
  font-size: 1.4rem;
  padding: 9px;
  background: #62778f;
  border-radius: 100px;
  color: #f9fafb;
  margin-left: 14px;
  cursor: pointer;
}

.newCard {
  opacity: 0;
}

.leftin {
  -webkit-animation: animLeft 2s forwards cubic-bezier(0.19, 1, 0.22, 1);
          animation: animLeft 2s forwards cubic-bezier(0.19, 1, 0.22, 1);
}

@-webkit-keyframes animLeft {
  from {
    transform: translate(100%, 100%);
  }
  to {
    transform: translate(50%, 50%);
  }
}

@keyframes animLeft {
  from {
    transform: translate(100%, 100%);
  }
  to {
    transform: translate(50%, 50%);
  }
}
@-webkit-keyframes anim1 {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes anim1 {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes movingLeftIn {
  from {
    transform: translateX(-60px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes movingLeftIn {
  from {
    transform: translateX(-60px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@-webkit-keyframes movingRightIn {
  from {
    transform: translateX(60px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes movingRightIn {
  from {
    transform: translateX(60px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@-webkit-keyframes movingTopIn {
  from {
    transform: translateY(-60px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes movingTopIn {
  from {
    transform: translateY(-60px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */